.main{
  width: 33vw;
  margin: 20px auto 0 auto;
  /* padding: 50px */
}

@media(max-width: 800px){
  .main{
    width: 90vw;
  }

}

.main .carousel-control-prev-icon {
  background-image: url(images/icons/Left_Arrow-03.svg);
}

.main .carousel-control-next-icon {
  background-image: url(images/icons/Right_Arrow-03-02.svg)
}